<div>
  <!-- <h1>Welcome to {{title}}</h1> -->
  <h1>Welcome to Angular Material Theme Demo</h1>

  <mat-card>
    <!-- Buttons -->
    <mat-card-title>Buttons</mat-card-title>
    <button mat-flat-button color="primary" type="button" name="button">Primary</button>
    <button mat-flat-button color="accent" type="button" name="button">Accent/Secondary</button>
    <button mat-flat-button color="warn" type="button" name="button">Warn</button>
    <!-- <button mat-flat-button color="warn" type="button" name="button">Delete</button> -->
    <!-- <button mat-flat-button color="warn" type="button" name="button">Cancel</button> -->
  </mat-card>

  <mat-card  id="new-style">
    <mat-card-title>Forms (New Style)</mat-card-title>
    <mat-card-content>

      <!-- Inputs -->
      <mat-card-subtitle>Inputs</mat-card-subtitle>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Default Input</mat-label>
        <input matInput value="" placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always" class="mat-focused">
        <mat-label>Active /Hover Input</mat-label>
        <input matInput value="" placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Disabled Input</mat-label>
        <input matInput disabled value="" placeholder="Placeholder">
      </mat-form-field>

      <mat-card-subtitle>Dropdowns</mat-card-subtitle>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Default Dropdown</mat-label>
        <!-- <mat-select [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option"> -->
          <!-- <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option> -->
        <mat-select placeholder="Please select an option">
          <mat-option>- - -</mat-option>
          <mat-option value="option-1">Option 1</mat-option>
          <mat-option value="option-2">Option 2</mat-option>
          <mat-option value="option-3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Multiple Select Dropdown</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option" multiple>
          <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-focused" floatLabel="always">
        <mat-label>Active Dropdown</mat-label>
        <!-- <mat-select [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option">
          <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option> -->
        <mat-select placeholder="Please select an option">
          <mat-option>- - -</mat-option>
          <mat-option value="option-1">Option 1</mat-option>
          <mat-option value="option-2">Option 2</mat-option>
          <mat-option value="option-3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Disabled Dropdown</mat-label>
        <mat-select disabled [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option">
          <mat-option>- - -</mat-option>
          <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>Forms (Current Style)</mat-card-title>
    <mat-card-content>

      <!-- Inputs -->
      <mat-card-subtitle>Inputs</mat-card-subtitle>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Default Input</mat-label>
        <input matInput value="" placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always" class="mat-focused">
        <mat-label>Active /Hover Input</mat-label>
        <input matInput value="" placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Disabled Input</mat-label>
        <input matInput disabled value="" placeholder="Placeholder">
      </mat-form-field>

      <!-- Dropdowns -->
      <mat-card-subtitle>Dropdowns</mat-card-subtitle>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Default Dropdown</mat-label>
        <!-- <mat-select [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option"> -->
          <!-- <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option> -->
        <mat-select placeholder="Please select an option">
          <mat-option>- - -</mat-option>
          <mat-option value="option-1">Option 1</mat-option>
          <mat-option value="option-2">Option 2</mat-option>
          <mat-option value="option-3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Multiple Select Dropdown</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option" multiple>
          <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-focused" floatLabel="always">
        <mat-label>Active Dropdown</mat-label>
        <!-- <mat-select [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option">
          <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option> -->
        <mat-select placeholder="Please select an option">
          <mat-option>- - -</mat-option>
          <mat-option value="option-1">Option 1</mat-option>
          <mat-option value="option-2">Option 2</mat-option>
          <mat-option value="option-3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Disabled Dropdown</mat-label>
        <mat-select disabled [(ngModel)]="selectedValue" name="dropdownOptions" placeholder="Please select an option">
          <mat-option>- - -</mat-option>
          <mat-option *ngFor="let dropdownOption of dropdownOptions" [value]="dropdownOption.value">
            {{dropdownOption.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>

  </mat-card>

  <mat-card>
    <mat-card-title>Toggles</mat-card-title>
    <mat-card-content>

      <!-- Checkboxes -->
      <mat-card-subtitle>Checkboxes Implemented with mat-selection-list</mat-card-subtitle>

      <!-- Checkboxes implemented with mat-selection-list -->
      <mat-selection-list color="primary">
        <mat-list-option checkboxPosition='before'>Unchecked</mat-list-option>
        <mat-list-option checkboxPosition='before' selected>Checked</mat-list-option>
        <mat-list-option checkboxPosition='before' disabled>Disabled</mat-list-option>
      </mat-selection-list>

      <!-- Checkboxes implemented with mat-checkbox -->

      <mat-card-subtitle>Checkboxes Implemented with mat-checkbox</mat-card-subtitle>
      <mat-checkbox color="primary">Unchecked</mat-checkbox>
      <mat-checkbox checked="true" color="primary">Checked</mat-checkbox>
      <mat-checkbox disabled="true">Disabled</mat-checkbox>

      <!-- Radio Buttons -->
      <mat-card-subtitle>Radio Buttons</mat-card-subtitle>
        <mat-radio-group color="primary">
          <mat-radio-button value="unchecked">Unchecked</mat-radio-button>
          <mat-radio-button value="checked" checked>Checked</mat-radio-button>
          <mat-radio-button value="disabled" disabled>Disabled</mat-radio-button>
        </mat-radio-group>

        <!-- This was an attempt at trying to bind my toggles to a data model and display unselected, selected, and disabled without me having to do it manually but I guess this is a thought for another day when I have more time. -->

        <!-- <mat-radio-group [(ngModel)]="selectedValue">
          <mat-radio-button *ngFor="let selectionOption of selectionOptions" [value]="selectionOption.value" *ngIf="selectionOption=='selected'">
            {{selectionOption.viewValue}}
          </mat-radio-button>
        </mat-radio-group> -->

      <!-- Switches -->
      <mat-card-subtitle>Switches</mat-card-subtitle>

      <mat-slide-toggle color="primary">Unchecked</mat-slide-toggle>
      <mat-slide-toggle color="primary" checked>Checked</mat-slide-toggle>
      <mat-slide-toggle disabled>Disabled</mat-slide-toggle>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Tabsets</mat-card-title>
    <mat-card-content>
      <mat-button-toggle-group>
        <mat-button-toggle value="tab-1">Tab 1</mat-button-toggle>
        <mat-button-toggle value="tab-2" selected>Tab 2</mat-button-toggle>
        <mat-button-toggle value="tab-3" disabled id="disabled">Tab 3</mat-button-toggle>
        <mat-button-toggle value="tab-4">Tab 4</mat-button-toggle>
        <mat-button-toggle value="tab-5">Tab 5</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
  </mat-card>

</div>

<router-outlet></router-outlet>
