/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css'

// The following are just hacky styles to make it easier to style. When creating an actual living styleguide, these are going to have to be cleaned up.

mat-card
  margin-bottom: 5em
  margin-right: 10em
  margin-left: 10em

.mat-card
  background-color: blue
  .mat-stroked-button
    display: block
    margin: 1em
    min-width: 150px

mat-form-field
  display: block !important
  .mat-form-field-wrapper

mat-card-subtitle
  padding-top: 1em

.mat-stroked-button
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1) 50%, transparent 50%)
  // background: linear-gradient(to bottom right, #830024 50%, transparent 50.5%) no-repeat bottom, linear-gradient(0deg, #830024, #830024) no-repeat top
