/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css'
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css'
// @import '@angular/material/prebuilt-themes/purple-green.css'
@import './custom-theme.scss'
// @import './custom-background-theme.scss'
// @import '~@angular/material/theming/theming'

// The following are just hacky styles to make it easier to style. When creating an actual living styleguide, these are going to have to be cleaned up.

$promo-blue: #2ba6cb

html
  background-color: #f4f4f4

mat-card
  margin-bottom: 5em
  margin-right: 10em
  margin-left: 10em

.mat-card
  // background-color: #f4f4f4
  .mat-flat-button
    border-radius: 0px
    display: block
    margin: 1em
    min-width: 150px
  .mat-form-field
    display: block

mat-card-subtitle
  padding-top: 1em

.mat-flat-button
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1) 50%, transparent 50%)
  // TODO: Not sure why it has to be here rather than in the section under .mat-card...?

#new-style
  label
    text-transform: uppercase
  .mat-form-field-disabled
    opacity: .5
  .mat-form-field-flex
    // box-sizing: border-box
    background-color: transparent
  .mat-form-field-type-mat-input
    .mat-form-field-flex
      box-shadow: inset 0px 1px 3px 0px rgba( 133, 160, 171 ,1 )
      // border: solid 1px $promo-blue
      border-radius: 0px
  .mat-form-field-type-mat-select
    .mat-form-field-flex
      // outline: solid 1px $promo-blue
      border: solid 1px $promo-blue
      border-radius: 5px

  .mat-form-field-underline
    display: none

  .mat-focused.mat-form-field-type-mat-input
    .mat-form-field-flex
      outline: solid 2px $promo-blue

  .mat-focused.mat-form-field-type-mat-select
    .mat-form-field-flex
      box-shadow: 0px 0px 0px 1px $promo-blue

  .mat-select-arrow
    color: $promo-blue
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 8px solid
